$bry-slate: #465C69;
$bry-dark-sky: #363457;
$bry-andes: #77AD78;
$bry-chalk: #F2E9E4;
$font-xl: 2.356rem;
$font-large: 1.738rem;
$font-medium: 1.456rem;
$font-small: 1rem;


h1 {
    font-size: 9.101vmin; 
}
h2 {
    font-size: 7.625vmin;
    padding: 1.25rem 0;
}
h3 {
    font-size: 5.625vmin;
}
h4 {
    font-size: 2.356vmin;
}
h5 {
    font-size: 1.931em;
    padding: 0.8rem 0;
}
