$bry-slate: #465C69;
$bry-dark-sky: #363457;
$bry-andes: #77AD78;
$bry-chalk: #F2E9E4;
$font-h1: 8.191vmin;
$font-xl: 2.356rem;
$font-large: 1.738rem;
$font-medium: 1.456rem;
$font-schmedium: 1.3rem;
$font-small: 1rem;
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-xxl: 1536px;

@mixin sm {
   @media (min-width: #{$screen-sm}) {
       @content;
   }
}
@mixin md {
   @media (min-width: #{$screen-md}) {
       @content;
   }
}
@mixin lg {
   @media (min-width: #{$screen-lg}) {
       @content;
   }
}
@mixin xl {
   @media (min-width: #{$screen-xl}) {
       @content;
   }
}

@mixin xxl {
   @media (min-width: #{$screen-xxl}) {
       @content;
   }
}

span.jquery-console-cursor {
    background:$bry-andes;
    color:$bry-andes;
    font-weight: bold;
}
h1 {
    font-size: 8.191vmin; 
}
h2 {
    font-size: 6.863vmin;
}
h3 {
    font-size: 5.063vmin;
}
h4 {
    font-size: 2.12vmin;
}
h5 {
    font-size: 1.738em;
}
